<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <title>Blog Posts</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

</head>
<main>

    <body>
        <div class="header">
            <a href="/">
                <div class="header-btn">
                    <h4>Home page</h4>
                </div>
            </a>
            <a href="/contact">
                <div class="header-btn">
                    <h4>Contact</h4>
                </div>
            </a>
        </div>