<%- include("partials/header.ejs") %>

    <body>
        <h1 id="blog-post-title">
            <%= blog.title %>
        </h1>
        <p id="blog-post-content">
            <%= blog.content %>
        </p>

        <a href="/">← Back to home page</a>
    </body>