<%- include("partials/header.ejs") %>

    <h3 class="contact-text"><span>Creator: </span>Bogdan Udović</h3>

    <h3 class="contact-text"><span>Github: </span> <a href="https://github.com/UDOBOG">https://github.com/UDOBOG</a>
    </h3>

    <h3 class="contact-text"><span>E-mail: </span> <a href="mailto: udovich.work@gmail.com">udovich.work@gmail.com</a>
    </h3>


<%- include("partials/footer.ejs") %>